{% extends "layout.html" %}

{% block content %}


<div class="container">
  <div class="grid-x" >

  <div class="cell small-6 content-section">
 
  <ul class="contact-us-list">
     <h4 class="contact-us-header">Contato</h4>
      <form class="contact-us-form">
        <input type="text" placeholder="Seu nome">
        <input type="email" placeholder="Email">
        <textarea name="message" id="" rows="7" placeholder="Escreva aqui sua mensagem"></textarea>
        <div class="contact-us-form-actions">
          <input type="submit" class="button" value="Enviar" />
          
        </div>
      </form>
      
      <h6 for="middle-label" class="text-left middle"><i class="fas fa-road"></i> Avenida Poti, s/n</h6>
      <h6 for="middle-label" class="text-left middle"><i class="fas fa-envelope"></i> <a href="mailto:">predict_imoveis@gmail.com</a> </h6>



      <h6 for="middle-label" class="text-left middle"><i class="fas fa-phone"></i> 1 (408) 445 9978</h6>


      </ul>
</div>


  <div class="cell small-6 content-section google-maps">


  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2733.627236968179!2d-50.021781486401395!3d-29.76101086751094!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1556067256035!5m2!1spt-BR!2sbr" width="720" height="520" frameborder="0" style="border:0"></iframe>

</div>


</div>
</div>

{% endblock content %}
