{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/meu.css" />
<div class="callout medium cor-home">
<div class="row column text-center">
<h1>Mais Facilidade Para o Seu Trabalho</h1>
<p class="lead"><b>Nosso sistema utiliza Inteligência Artificial com base em dados reais da sua cidade.</b></p>
<a href="#" class="button large success">Saiba Mais</a>
<a href="{{ url_for('registro') }}" class="button large hollow success">Criar Conta</a>
</div>
</div>
<div class="row">
<div class="medium-6 columns medium-push-6">
<img src="../static/images/robot.png">
</div>
<div class="medium-6 columns medium-pull-6">
<h3>Sua Imobiliária, seu pessoal...</h3>
<p class="text-justify">Predict imóveis permite que seus corretores criem cadastros individuais, facilitando a organização e consulta.
E o melhor: você não paga nada a mais por isso!</p>
</div>
<div class="medium-6 columns medium-pull-6">
<h3>...colaborativo...</h3>
<p class="text-justify">O sistema conta com uma ferramenta de <i>feedback</i>, ou seja: caso um resultado não seja como o esperado, você pode editá-lo com base nos seus conhecimentos, e sua edição será incorporada ao sistema tornando-o cada vez mais preciso!</p>
</div>
</div>

{% endblock content %}
