{% extends "layout.html" %}
{% block content %}
<div class="cell">
    <br>
</div>

    <form class="cell small-4"  method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="grid-x">    

                        
            <div class="cell auto">
                
            </div>



            <div class="cell small-4 content-section">
            <h4>Alterar dados Cadastrados</h4>
             <img src="{{ imagem_perfil }}" style= "border-radius: 50%; width: 125px; height:125px;"> </img>

             <label>Alterar Imagem
         </label>
               
                <label for="exampleFileUpload" class="button success">Escolher Imagem</label>

                {{ form.imagem_perfil(type="file", id="exampleFileUpload", class="show-for-sr") }}

           

            
            <label>Alterar Usuário
                    {% if form.nome.errors %} <!-- se o form for preenchido errado, exibe erro-->
                        {{ form.nome(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nome.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nome(type="text", placeholder="Nome Imobiliária, Nome Fantasia, etc") }}
                    {% endif %}

            </label>

            <label>Email
            {{ form.email(type="email", placeholder="Digite seu email") }}
            </label>


            
            
            <fieldset class="cell">
            
            <div class="expanded button-group">
                            
                {{ form.submit(class="button success", value="Alterar") }}

                <a class="button hollow success" href="{{ url_for('home') }}">Cancelar</a>

            </div>

            
            </div>
            <div class="cell auto">
                
            </div>

        </div>
    </form>
{% endblock content %}