{% extends "layout.html" %}
{% block content %}
<div class="cell">
    <br>
</div>

    <form class="cell small-4"  method="POST">
        {{ form.hidden_tag() }}
        <div class="grid-x">    

                        
            <div class="cell auto">
                
            </div>



            <div class="cell small-4 content-section">
            <h4>Alterar dados Cadastrados</h4>
             <img src="{{ imagem_perfil }}" style= "border-radius: 50%; width: 140px; height:140px;"> </img>

             <label>Alterar Imagem
    

                

{{ form.imagem_perfil(for="exampleFileUpload", type="file") }}

<input type="file" id="exampleFileUpload" class="show-for-sr">

            </label>

            
            <label>Alterar Usuário
                    {% if form.nome.errors %} <!-- se o form for preenchido errado, exibe erro-->
                        {{ form.nome(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nome.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nome(type="text", placeholder="Nome Imobiliária, Nome Fantasia, etc") }}
                    {% endif %}

            </label>

            <label>Email
            {{ form.email(type="email", placeholder="Digite seu email") }}
            </label>
        
            <label>Nova Senha
                    {% if form.senha.errors %} <!-- se o form for preenchido errado, exibe erro-->
                        {{ form.senha(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.senha.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.senha(type="password", placeholder="Crie uma senha") }}
                    {% endif %}

            </label>

            <label>Confirmação de senha
                    {% if form.confirma_senha.errors %} <!-- se o form for preenchido errado, exibe erro-->
                        {{ form.confirma_senha(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirma_senha.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirma_senha(type="password", placeholder="Confirme a senha") }}
                    {% endif %}

            </label>

            
            
            <fieldset class="cell">
            
            <div class="expanded button-group">
                            
                {{ form.submit(class="button success", value="Alterar") }}

                <a class="button hollow success" href="{{ url_for('home') }}">Cancelar</a>

            </div>

            
            </div>
            <div class="cell auto">
                
            </div>

        </div>
    </form>
{% endblock content %}