{% extends "layout.html" %}
{% block content %}
<div class="cell">
	<br><br>
</div>

	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<div class="grid-x">					
			<div class="cell auto">
				
			</div>

			<div class="cell small-4 content-section">
			<h4>Registro de Imobiliária</h4>
			<fieldset class="cell">
				<label>Nome de Usuário
          		<input type="text" placeholder="Nome Fantasia, Nome da Imobiliária">
        		</label>
				</fieldset>

				<label>Email
          		<input type="email" placeholder="Coloque seu e-mail">
        		</label>
				</fieldset>

				<fieldset class="cell">
				<label>Senha
          		<input type="password" placeholder="Crie uma senha">
        		</label>

        		<label>Confirmação de senha
          		<input type="password" placeholder="Repita a senha criada">
        		</label>

				</fieldset>
				

				<fieldset class="cell">
				
				<div class="expanded button-group">
					<input type="submit" class="button success" value="Registrar">					

				<input type="submit" class="button hollow success" value="Voltar">
				</div>

				
				<small class="text-muted">
				<p>Já possui conta? <a href="#">Login</a>
				</small>

	
				</fieldset>
				</div>
				<div class="cell auto">
				
			</div>

		</div>
	</form>
{% endblock content %}