{% extends "layout.html" %}

{% block content %}

<style>
.fa {
  font-size: 25px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: green;
}
</style>

<div class="grid-x" >

	<form class="cell small-3 content-section"  method="POST">
		{{ form.hidden_tag() }}

		<i class="fas fa-city"></i>
		Cidade
  		<select>
    	<option value="1">Capão da Canoa</option>

  		</select>

		<h6><b>Digite a quantidade de:</b></h6>

		<div class="grid-x grid-padding-x">
		 <div class="small-4 cell">

      		<label for="middle-label" class="text-right middle"><i class="fas fa-bed"></i> Dormitórios:</label>
    		</div>
   			 <div class="small-8 cell">
     		 {{ form.dorms(type="number", placeholder="Exemplo: 4") }}
   		 </div>
   		 </div>

   		 <div class="grid-x grid-padding-x">
		 <div class="small-4 cell">

      		<label for="middle-label" class="text-right middle"><i class="fas fa-toilet"></i> Banheiros/ Lavabos:</label>
    		</div>
   			 <div class="small-8 cell">
     		 {{ form.banhos(type="number", placeholder="Exemplo: 2") }}
         	<p class="help-text">Lavabos entram na contagem como +1.</p>
   		 </div>
   		 </div>


   		 <div class="grid-x grid-padding-x">
		 <div class="small-4 cell">

      		<label for="middle-label" class="text-right middle"><i class="fas fa-warehouse"></i> Abrigos/ Garagens:</label>
    		</div>
   			 <div class="small-8 cell">
     		 {{ form.vagas(type="number", placeholder="Exemplo: 2") }}


   		 </div>
   		 </div>


   		  <div class="grid-x grid-padding-x">
		 <div class="small-4 cell">

		 	<label for="middle-label" class="text-right middle"><i class="fas fa-chart-area"></i> Área Total Costruída:</label>
    		</div>
   			 <div class="small-8 cell">
     		 {{ form.area(type="number", step="0.01", placeholder="Exemplo: 128.45") }}


		 </div>
   		 </div>


   		 <div class="grid-x grid-padding-x">
		 <div class="small-4 cell">

		 	<label for="middle-label" class="text-right middle"><i class="fas fa-align-justify"></i> Descrição:</label>
    		</div>
   			 <div class="small-8 cell">
     		 {{ form.descr(type="text", placeholder="Exemplo: Casa do João") }}


		 </div>
   		 </div>

		 <div class="cell button-group expanded">

			{{ form.submit(class="button success", value="Gerar Resultado") }}

			<a class="button warning" href="{{ url_for('sistema') }}">Nova Consulta</a>

		 </div>

	</form>

	<div class="cell small-4 content-section">




		{% if estimado == 0 %}
		<p>Seja bem-vindo ao sistema. Para fazer uma consulta, selecione a cidade e preencha os campos.</p>
    <p>Feito isso, basta clicar em <b>"Gerar Resultado"</b> </p>
		{% else %}

		<h5>Valor estimado: <b>{{ estimado }}</b></h5>
		<br>
		<h6 class="content-section"> Versão atual: <b> 1.0 </b>   |   Precisão de: <b>{{ precisao }}</b> </h6>
		<br>

		{% endif %}

		{% if estimado != 0 %}

		<h6>O que achou do resultado?</h6>

		<i onclick="satis(this)" class="fa fa-thumbs-up" id="likeBotao"></i>

		<p id="obrigado"></p>



		<i onclick="impre(this)" class="fa fa-thumbs-down" id="dislikeBotao"></i>

    <form class="cell small-3 content-section"  method="POST">
    {{ form_novo.hidden_tag() }} 

		<div id="dislike">
			<small>Por favor, preencha os valores abaixo. Assim você estará colaborando para que o sistema
			aprenda a emitir dados mais precisos. Obrigado!</small>

			 <div class="grid-x grid-padding-x">
         <div class="small-4 cell">
          <label for="middle-label" class="text-right middle"><i class="fas fa-chart-area"></i> Bairro:</label>
            </div>
             <div class="small-8 cell">
             {{ form_novo.bairro(type="text", placeholder="Bairro/Distrito") }}
            </div>
          </div>

          <div class="grid-x grid-padding-x">
         <div class="small-4 cell">
          <label for="middle-label" class="text-right middle"><i class="fas fa-chart-area"></i> Cidade:</label>
            </div>
             <div class="small-8 cell">
             {{ form_novo.cidade(type="text", placeholder="Cidade") }}
            </div>
          </div>

          <div class="grid-x grid-padding-x">
         <div class="small-4 cell">
          <label for="middle-label" class="text-right middle"><i class="fas fa-chart-area"></i> Condomínio:</label>
            </div>
             <div class="small-8 cell">
             {{ form_novo.cond(type="text", placeholder="Condomínio") }}
            </div>
          </div>

          <div class="grid-x grid-padding-x">
         <div class="small-4 cell">
          <label for="middle-label" class="text-right middle"><i class="fas fa-chart-area"></i> Valor:</label>
            </div>
             <div class="small-8 cell">
             {{ form_novo.valor(type="text", placeholder="Novo Valor") }}
            </div>
          </div>

               <div class="cell button-group expanded">

            {{ form_novo.submit(class="button success", value="Enviar Atualização") }}

     </div>



        </div>
      </form>
		{% endif %}
	</div> <!-- div cell small-4 contente-section-->



	<div class="cell small-5 content-section">
    <h5 class="content-section">Registro de Consultas  </h5>
      <a class="button" href="{{ url_for('consultas') }}"> Ver Todos</a>
<table class="hover">
  <thead>
    <tr >
      <th width="200" class="text-center">Descrição</th>
      <th width="140" class="text-center">Área</th>
      <th width="160" class="text-center">Valor</th>
      <th width="80" class="text-center">Data</th>
      <th width="80" class="text-center">Excluir</th>
    </tr>
  </thead>
  <tbody>
  	{% for cons in query[-10:] %}
    <tr>
      <td width="200">{{ cons.descr }}</td>
      <td width="140" class="text-right">{{ "{:,.2f}".format(cons.area) }} m²</td>
      <td width="160">R$ {{ cons.valor }}</td>
      <td width="80">{{ cons.data.strftime('%d/%m/%Y') }}</td>
      <td width="80" class="text-center"> 
        <a class="fas fa-trash-alt" href="{{ url_for('deletar', item_id=cons.id) }}" method="POST"></a>      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

	</div>


</div> <!-- Grid X -->

<script type="text/javascript">

document.getElementById("dislike").style.display="none";

function satis() {
  var x = document.getElementById("obrigado");
    if (x.innerHTML === "none") {
    x.innerHTML = "none";
  } else {
	x.innerHTML =  "<br>" +  "<i class='fas fa-glass-cheers'></i> Obrigado!";

	document.getElementById("dislikeBotao").style.display="none";
  }
 }

function impre() {
  var x = document.getElementById("dislikeBotao");
    if (x.innerHTML === "none") {
    x.innerHTML = "none";
  } else {
	document.getElementById("dislike").style.display="block";
	document.getElementById("likeBotao").style.display="none";
  }
 }


</script>


{% endblock content %}
